.home-body {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}
.home-section {
  width: 80%;
  margin: auto;
  background-color: black;
}
.home-main-div {
  background-color: black;
}
