.star-icon {
  color: gold;
}
.job-item-logo {
  width: 80px;
}
.job-item-div1 {
  display: flex;
  align-items: center;
}
.job-item-div2 {
  line-height: 1px;
  margin-left: 10px;
}
.job-item-div3 {
  display: flex;
  align-items: center;
}
.job-item-card {
  background-color: lawngreen;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 9px;
}
.job-item-rating-text {
  margin-left: 10px;
}
.job-item-div3 {
  display: flex;
  align-items: center;
}
.job-item-div3-mini {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.job-item-div3-para {
  margin-left: 7px;
  margin-right: 10px;
}
.job-item-div4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
